.bio {
    color: $darkGold;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.5rem;
    max-width: 50%;
    margin: 4.5rem auto;
}

.homePageHand {
    object-fit: scale-down;
    width: 800px;
    height: 450px;
    position: absolute;
    left: 0;
    bottom: 0;
    animation: animateWindow 20s ease-in-out forwards;
    filter: sepia(50%);
}

@keyframes animateWindow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
